* {
    margin: 0;
    padding: 0;
    font-family: "Alegreya Sans SC", sans-serif;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
    background-color: whitesmoke;
}

.main-container{
  display: block;
  width: 90%;
  margin: auto;
}

.header {
  height: 650px;
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0em;
}

h2 {
  font-family: system-ui;
    color: indigo;
    font-size: 1.8rem;
}

.navbar ul {
  display: flex;
  gap: 45px;
}

.items {
  list-style: none;
}

.items a {
  text-decoration: none;
  color: black;
}

.first-section {
  height: 590px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle-paragraph-btn-part {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
  color: black;
}

h4 {
    font-size: 2rem;
    font-weight: 400;
}

p {
    font-size: 1.2rem;
}

.btn-ordernow {
    background-color: indigo;
    padding: 11px 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    width: 145px;
    border: 2px dashed indigo;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
    margin-top: 18px;
}

.btn-ordernow span:last-child {
    display: none;
}

.btn-ordernow:hover {
    transition: .4s;
    border: 2px dashed indigo;
    background-color: #fff;
    color: indigo;
}

.main-image img{
  width: 400px;
}

@media (max-width: 940px) {
    .logo h2{
        font-size: 1.5rem;
    }
}

@media (max-width : 885px) {
    h4{
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
    }

    .main-image img{
        width: 44vw;
      }
}

@media (max-width: 512px) {
    .first-section{
        flex-direction: column;
        justify-content: normal;
        height: 456px;
        position: relative;
        top: 46px;

    }
    
    .header{
        height: 550px;
    }

    .subtitle-paragraph-btn-part{
        width: 345px;
    }

    h4 {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .logo h2{
        font-size: 1.3rem;
    }

}


@media (max-width: 342px) {
    .subtitle-paragraph-btn-part p{
        font-size: 12px;
    }

    .subtitle-paragraph-btn-part{
        width: 89vw;
    }

    h4 {
        font-size: 1rem;
        font-weight: 500;
    }

    .btn-ordernow{
        width: 90px;
        padding: 6px 5px;
    }

    .first-section{
        height: 350px;
    }
    
    .header{
        height: 460px;
    }

    .main-image img {
        margin: 23px 0px 0px 0px;
        width: 61vw;
    }
}

@media (max-width:324px) {
    .header {
        height: 490px;
    }
}
